<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newproductslider>
            <general>
                <enabled>1</enabled>
				<des>We carry designer fashion that retail for much more at other stores.</des>
				<row>3</row>
				<title>New Products</title>
				<itemsDefault>1</itemsDefault>
				<itemsDesktop>1</itemsDesktop>
	            <itemsDesktopSmall>1</itemsDesktopSmall>
	            <itemsTablet>2</itemsTablet>
	            <itemsMobile>1</itemsMobile>
	            <speed>1000</speed>
	            <qty>20</qty>
	            <navigation>1</navigation>
	            <pagination>0</pagination>
	            <auto>0</auto>
            </general>
        </newproductslider>
    </default>
</config>
