<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 PlazaThemes.com. All rights reserved.
 *
 * @author PlazaThemes Team <contact@plazathemes.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="plaza" translate="label" sortOrder="100">
            <label>Plazathemes</label>
        </tab>
        <section id="pricecountdown" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Price Countdown</label>
            <tab>plaza</tab>
            <resource>Plazathemes_Pricecountdown::config_pricecountdown</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Information</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="countdown_slider" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sale Products Slider</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sale products Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_countdown" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Countdown in Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slider Title</label>
                </field>
                <field id="show_price" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_add_cart" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_rating" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_short_description" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Short Description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="short_description_length" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Short Description Max Length</label>
                    <comment>Empty for display all short description.</comment>
                </field>
                <field id="quantity" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products Quantity of Slider</label>
                </field>
                <field id="auto" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto slide</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="speed" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slider Speed</label>
                </field>
                <field id="item_default" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Default</label>
                </field>
                <field id="item_desktop" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items on Desktop</label>
                </field>
                <field id="item_desktop_small" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items on Desktop Small</label>
                </field>
                <field id="item_tablet" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items on Tablet</label>
                </field>
                <field id="item_mobile" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items on Mobile</label>
                </field>
                <field id="row_number" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Rows</label>
                </field>
                <field id="show_navigation" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Slider Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_pagination" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Slider Pagination</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!--group id="in_product_list" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Use in Product List</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Countdown in Product List</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group-->
            <group id="in_product_view" translate="label" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Use in Product View</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Countdown in Product View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="insertion" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Insertion Direction</label>
                    <source_model>Plazathemes\Pricecountdown\Model\Config\Source\Insertion</source_model>
                </field>
                <field id="parent_element" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parent Element of Insertion</label>
                    <comment>
                        <![CDATA[
                            Enter the classname (or the id) of Parent Element (div) to add Countdown Box<br/>
                            <strong>Format:</strong> .{class-parent} or #{id-parent}
                        ]]>
                    </comment>
                </field>
                <field id="children_element" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Children Element of Insertion</label>
                    <comment>
                        <![CDATA[
                            Enter the classname (or the id) of Children Element (div) to add Countdown Box<br/>
                            <strong>Format:</strong> .{class-children} or #{id-children}
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>