<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <producttab>
            <new_status>
                <enabled>1</enabled>
				<title>OUR PRODUCTS</title>
				<!-- <items>4</items> -->
				<row>1</row>
				<speed>3000</speed>
				<qty>8</qty>
				<addtocart>1</addtocart>
				<wishlist>1</wishlist>
				<compare>1</compare>
				<navigation>0</navigation>
				<pagination>0</pagination>
				<auto>0</auto>
            </new_status>
        </producttab>
    </default>
</config>
