<?xml version="1.0"?>
<!-- 
/**
* Copyright © 2015 PlazaThemes.com. All rights reserved.

* @author PlazaThemes Team <contact@plazathemes.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <mostviewed>
	        <general>
	            <enable_frontend>1</enable_frontend>
	            <title>Mostviewed productslider</title>
	            <auto>0</auto>
	            <pagination>3000</pagination>
	            <qty>15</qty>
	            <default>5</default>
	            <desktop>4</desktop>
	            <desktop_small>3</desktop_small>
	            <tablet>2</tablet>
	            <mobile>1</mobile>
	            <rows>1</rows>
	            <show_next_back>1</show_next_back>
	            <show_navigation_control>1</show_navigation_control>
	        </general>
	    </mostviewed>
	</default>
</config>
